click==8.0.3
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.10
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
sos==4.1
SQLAlchemy==1.4.31
urllib3==1.25.8
virtualenv==20.0.17
Werkzeug==2.0.2